.shops-wrap {
	padding: 20px;
}

.shops-wrap ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 20px;
}

.shops-wrap li {
	border: 1px solid #fff;
	height: calc(100vw /3 - 33px);
	width: calc(100vw /3 - 33px);
	border-radius: 10px;
}

.rate-wrap {
	color: var(--base-link-text);
	display: grid;
	height: 100%;
	width: 100%;
	padding: 5px 10px 5px;
}

.rates {
	display: flex;
	justify-content: space-around;
	font-size: 4vw;
}

.rate-wrap .name {
	font-size: 3vw;
	text-align: center;
	align-self: end;
}

.rates .men, .rates .women {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rates .cnt {
	font-size: 8vw;
	line-height: 1;
}